.Sidebar{
    height: 100%;
    width: 150px;
    color: rgba(75, 73, 73, 0.951);
    font-weight: 400;
    background-color: white;
    position: fixed;
}

.SideBarContent{
    height: 60px;
    width: 120px;
    background-color: rgba(128, 128, 128, 0.132) ;
    text-align: center;
    margin:1px 0 0 10px ;
    padding:5px 0 0 0; 
    font-weight: 400;
    font-size: small;
    color: rgba(75, 73, 73, 0.951);
}

.cont-top{
    border-top: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cont-bottom{
    border-bottom: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


h4{
    font-size: small;
}

.hr{
  background-color: rgb(6, 54, 6);
  color: white;
}

.page{
    padding: 300px 0 0 800px ;
}
